<!--
  Generated template for the ShowreportallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>showreportall</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label>ปีการศึกษา</ion-label>
    <ion-select [(ngModel)]="YearStudy"  cancelText="ยกเลิก" okText="ตกลง">
      <ion-option *ngFor="let Year of Evu_year">{{Year.Evu_year}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-label>ภาคการศึกษา</ion-label>
<ion-select [(ngModel)]="TermStudy"  cancelText="ยกเลิก" okText="ตกลง">
        <ion-option *ngFor="let term of Evu_term">{{term.Evu_term}}</ion-option>


    </ion-select>
  </ion-item>
</ion-list>
<button ion-button (click)="SearchList(YearStudy,TermStudy )">ค้นหา</button>






</ion-content>
