<!--
  Generated template for the DoassessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>doassess</ion-title>
  </ion-navbar>

</ion-header>
i : number;

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let evu of result" text-wrap>
      <ion-item>
        <h2>{{evu.Evu_name}}</h2>
        <ion-list *ngFor="let tp of evu.Evu_data">
          <ion-item>
            <h3>{{tp.Topic_name}}</h3>
            <ion-item *ngFor="let sub of tp.Sub_data">
              <!-- <ion-row> -->
                <!-- <ion-col> -->
                  <h3>{{sub.Sub_name}}</h3>
                <!-- </ion-col> -->
                <!-- <ion-col>
                  <ion-select interface="popover" [(ngModel)]= " 'Point'. i" placeholder="Click For Set Point?">
                    <ion-option value="1">น้อยที่สุด</ion-option>
                    <ion-option value="2">น้อย</ion-option>
                    <ion-option value="3">ปานกลาง</ion-option>
                    <ion-option value="4">มาก</ion-option>
                    <ion-option value="5">มากที่สุด</ion-option>
                  </ion-select>
                  
                </ion-col> -->
                <!-- </ion-row> -->

            </ion-item>
          </ion-item>
        </ion-list>
      </ion-item>
      <button ion-button>บันทึก</button>
    </ion-card>
  </ion-list>
</ion-content>